html
	head
		title Ueder Cardoso
	body

		h3 Trabalhando com o banco

		each val in data
			li 
				div= val.nome
				br
		br
		br

		form(action="/" method="post")
			label Nome: 
			input(
				type="text"
				name="nome"
				required
			)
			input(
				type="submit"
				value="enviar"
			)